.intro-head {
    position: absolute;
    top: 4px;
    left: 0;
}

.intro-body {
    position: absolute;
    top: 250px;
    left: 0;
}

.intro-footer {
    position: absolute;
    bottom: 4px;
    left: 0;
}

.app-body {
    padding-top: 20px;
    padding-bottom: 60px;
}

.app-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.app-footer .nav-pills .nav-link {
    border-radius: 0 !important;
}

.btn-ujian-create {
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 100;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
}

.bidang ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.bidang ul ul {
    list-style-type: none; /* Remove bullets */
    padding-left: 25px; /* Remove padding */
    margin: 0; /* Remove margins */
}

.modal-body-list-item {
    padding-left: 0;
    padding-right: 0;
}

.modal-body-list-item .row {
    border-bottom: 1px solid rgba(0,0,0,0.06);
    padding: 0px;
}

.modal-body-list-item .row:last-child {
    border-bottom: none;
    padding: 0px;
}

.modal-body-list-item .row label {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 0px;
}

.modal-body-list-item .row div {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 10px;
}

.ujian-table select {
    width: 38px;
}